@import "../../../material/project";

.DemoHeader {
    // height: 64px;
    background-color: white;
    // position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.DemoHeader-container{
    height: 100%;
    padding-left:2em;
}

.DemoHeader-logo {
  opacity:0.4;
}

.DemoHeader-link{
    text-decoration: none;
    color: $color;
    padding: 0 20px;
    display: inline-block;
    transition: 250ms background-color;
    line-height: 64px;
    &.active{
      background-color:$color;
      color:#fff;
    }
}

.DemoHeader-link:hover{
    background-color: $background;
    color:$color;
}

.DemoHeader-github{
    margin-top: 17px;
    margin-left: 10px;
}

.DemoHeader-spacer{
    padding-top: 64px;
}
