<md-content class="Page-Container Footer iOS-hack" layout-align="center center">
<!-- <img src="/img/atlas_of_torture_logo.png" class="Footer-logo"/>
<br/>
<br/> -->
<!-- <div class="Footer-text">
	An open source project by <a href="https://github.com/jadjoubran" class="Footer-link" target="_blank">Jad Joubran</a>.
	Design by <a href="http://nicolesaidy.com" class="Footer-link" target="_blank">Nicole Saidy</a>
</div> -->
<div class="Footer-text">
	&copy; 2016 by Manfred Walder
</div>
</md-content>
