<md-content class="Page-Container DemoHeader">
    <div layout="row">
        <div flex="90" flex-offset="5" class="DemoHeader-container">
            <div layout="row" layout-align="space-between center">
                <img src="img/atlas_of_torture_logo.png" ui-sref="app.landing" class="DemoHeader-logo"/>
                <div layout="row" layout-align="center stretch">
                    <a hide-xs class="DemoHeader-link md-subhead" ui-sref="app.upload-wizard">Add Entry</a>
                </div>
            </div>
        </div>
    </div>
</md-content>
<div class="DemoHeader-spacer"></div>
