<md-toolbar class="md-primary md-table-toolbar">
    <div class="md-toolbar-tools">
        <h2 class="md-title">{{ vm.document.screen_title || vm.document.document_title }}</h2>
        <div flex></div>
        <md-button class="md-icon-button" ng-click="vm.saveDocument()">
            <md-icon>save</md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-content>
    <md-tabs md-dynamic-height class="md-primary">
        <md-tab label="Title & Author">
            <md-content layout-padding>

                <form name="vm.titleForm">
                    <div class="wizard-input-container" ng-if="!vm.document.url">
                        <div>
                            <md-input-container class="md-block">
                                <label>Document title*</label>
                                <input type="text" ng-model="vm.document.document_title" name="document_title" required/>
                                <div ng-messages="vm.titleForm.document_title.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="wizard-input-container" ng-if="vm.document.url">
                        <div>
                            <md-input-container class="md-block">
                                <label>Hyperlink (URL)*</label>
                                <input type="url" ng-model="vm.document.url" name="document_title" required/>
                                <div ng-messages="vm.titleForm.document_title.$error">
                                    <div ng-message="required">This is required.</div>
                                    <div ng-message="url">This is not a valid URL.</div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="wizard-input-container">

                        <div>
                            <md-input-container class="md-block">
                                <label>Screen title</label>
                                <input type="text" ng-model="vm.document.screen_title" name="screen_title" />
                            </md-input-container>
                        </div>
                    </div>
                    <div class="wizard-input-container">
                        <div>
                            <md-input-container class="md-block">
                                <label>Output category*</label>
                                <md-select ng-model="vm.document.category_id" name="output_category" required>
                                    <md-option ng-repeat="cat in vm.outputCategories" ng-value="{{cat.id}}">{{cat.title}}</md-option>
                                </md-select>
                                <div ng-messages="vm.titleForm.output_category.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="wizard-input-container">
                        <autocomplete-multiple label="Author(s)" item="vm.document.authors" list="vm.authors" text="name" title="add an author" icon="person"></autocomplete-multiple>
                    </div>
                </form>

            </md-content>
        </md-tab>
        <md-tab label="Content">
            <md-content layout-padding>

                <form name="vm.contentForm" novalidate>
                    <div class="wizard-input-container">

                        <autocomplete-list label="Theme(s)*" item="vm.document.themes" list="vm.themes" text="title" title="add themes"></autocomplete-list>
                    </div>
                    <div class="wizard-input-container">
                        <div layout="column" layout-align="start start">
                            <md-button class="add_button" ng-click="vm.addTargetGroup()">
                                <span>add target group</span>
                                <md-icon>add</md-icon>
                            </md-button>
                        </div>
                        <div layout="row" ng-repeat="(key, g) in vm.document.groups">


                            <autocomplete-list-inline flex="45" name="group_{{key}}" label="Target Group" item="g.group" list="vm.groups" text="title"></autocomplete-list-inline>
                            <md-input-container flex="45">
                                <label>Parent Theme</label>
                                <md-select ng-model="g.theme" name="group_{{key}}_theme">
                                    <md-option ng-repeat="theme in vm.document.themes" ng-value="theme">{{theme.title}}</md-option>
                                </md-select>
                            </md-input-container>
                            <div flex layout="row" layout-align="center start">
                                <md-button class="md-icon-button md-primary" ng-click="vm.removeItem(vm.document.groups, key)">
                                    <md-icon>close</md-icon>
                                </md-button>
                            </div>
                        </div>

                    </div>
                    <div class="wizard-input-container">
                        <div layout="column" layout-align="start start">

                            <md-button class="add_button" ng-click="vm.addInstrument()">
                                <span>add legal instrument</span>
                                <md-icon>add</md-icon>
                            </md-button>
                        </div>
                        <div layout="row" ng-repeat="(key, i) in vm.document.instruments">
                            <autocomplete-list-inline flex="45" label="Legal Instruments" item="i.instrument" list="vm.instruments" text="acronym_title" title="Choose Instrument"></autocomplete-list-inline>

                            <md-input-container flex="45">
                                <label>Parent Theme</label>
                                <md-select ng-model="i.theme" name="instrument">
                                    <md-option ng-repeat="theme in vm.document.themes" ng-value="theme">{{theme.title}}</md-option>
                                </md-select>
                            </md-input-container>
                            <div flex layout="row" layout-align="center start">
                                <md-button class="md-icon-button md-primary" ng-click="vm.removeItem(vm.document.instruments, key)">
                                    <md-icon>close</md-icon>
                                </md-button>
                            </div>
                        </div>
                    </div>
                    <div class="wizard-input-container" ng-if="vm.document.instruments.length && vm.instrumentsHasChildren()">

                        <div layout="column" layout-align="start start">

                            <md-button class="add_button" ng-click="vm.addParagraph()">
                                <span>add article</span>
                                <md-icon>add</md-icon>
                            </md-button>
                        </div>
                        <div layout="row" ng-repeat="(key, p) in vm.document.paragraphs">
                            <md-input-container flex="45">
                                <label>Parent Legal Instrument</label>
                                <md-select ng-model="p.instrument" name="instrument" required>
                                    <md-option ng-if="instrument.children.length" ng-repeat="instrument in vm.instrumentsList()" ng-value="instrument">{{instrument.acronym_title}}</md-option>
                                </md-select>
                            </md-input-container>

                            <autocomplete-list-inline flex="45" label="Article" item="p.paragraph" list="p.instrument.children" text="title"></autocomplete-list-inline>

                            <div flex layout="row" layout-align="center start">
                                <md-button class="md-icon-button md-primary" ng-click="vm.removeItem(vm.document.paragraphs, key)">
                                    <md-icon>close</md-icon>
                                </md-button>
                            </div>
                        </div>
                    </div>
                    <div class="wizard-input-container">
                        <div layout="column" layout-align="start start">

                            <md-button class="add_button" ng-click="vm.addCountry()">
                                <span>add country</span>
                                <md-icon>add</md-icon>
                            </md-button>
                        </div>
                        <div layout="row" ng-repeat="(key, c) in vm.document.countries">

                            <autocomplete-list flex="45" title="add countries" label="Country(ies)" item="c.countries" list="vm.countries" text="name"></autocomplete-list>

                            <md-input-container flex="45">
                                <label>Parent Theme</label>
                                <md-select ng-model="c.theme" name="instrument">
                                    <md-option ng-repeat="theme in vm.document.themes" ng-value="theme">{{theme.title}}</md-option>
                                </md-select>
                            </md-input-container>
                            <div flex layout="row" layout-align="center start">
                                <md-button class="md-icon-button md-primary" ng-click="vm.removeItem(vm.document.countries, key)">
                                    <md-icon>close</md-icon>
                                </md-button>
                            </div>
                        </div>
                    </div>
                </form>

            </md-content>
        </md-tab>
        <md-tab label="file" ng-if="!vm.document.url">
            <md-content layout-padding>

                <form name="vm.fileInfoForm">
                    <div class="wizard-input-container">

                        <autocomplete-list-inline flex="1" label="Source*" item="vm.document.source" list="vm.sources" text="acronym_title"></autocomplete-list-inline>

                    </div>
                    <div class="wizard-input-container">
                        <div>
                            <md-input-container class="md-block">
                                <label>Type*</label>
                                <md-select ng-model="vm.document.type_id" name="file_type" required>
                                    <md-option ng-repeat="type in vm.types" ng-value="type.id">{{type.title}}</md-option>
                                </md-select>
                                <div ng-messages="vm.fileForm.file_type.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="wizard-input-container">

                        <div>
                            <md-input-container class="md-block">
                                <label>Years*</label>
                                <md-select ng-model="vm.document.years" name="years" required multiple>
                                    <md-option ng-repeat="year in vm.years" ng-value="year">{{year.year}}</md-option>
                                </md-select>
                                <div ng-messages="vm.fileForm.years.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="wizard-input-container">

                        <div>
                            <md-input-container class="md-block">
                                <label>Language*</label>
                                <md-select ng-model="vm.document.language_id" name="language" required>
                                    <md-option ng-repeat="lang in vm.languages" ng-value="lang.id">{{lang.title}}</md-option>
                                </md-select>
                                <div ng-messages="vm.fileForm.language.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                </form>

            </md-content>
        </md-tab>
        <md-tab label="Source" ng-if="vm.document.url">
            <md-content layout-padding>
                <form name="vm.fileInfoForm">
                    <div class="wizard-input-container">

                        <div>
                            <md-input-container class="md-block">
                                <label>Source*</label>
                                <md-select ng-model="vm.document.source_id" name="source" required>
                                    <md-option ng-repeat="source in vm.sources" ng-value="source.id">{{source.acronym_title}}</md-option>
                                </md-select>
                                <div ng-messages="vm.fileForm.source.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <autocomplete-list-inline isrequired="true" label="Source*" item="vm.document.source" name="source" list="vm.sources" text="acronym_title"></autocomplete-list-inline>

                    </div>
                </form>
            </md-content>
        </md-tab>
        <md-tab label="Additional">
            <md-content layout-padding>
                <form name="vm.additionlForm">
                    <div class="wizard-input-container">

                        <div>
                            <md-input-container class="md-block">
                                <label>Short description (max. 400 characters)</label>
                                <textarea ng-model="vm.document.short_description" name="short_description" md-maxlength="400"></textarea>
                                <div ng-messages="vm.additionlForm.short_description.$error">
                                    <div ng-message="md-maxlength">max. 400 characters!</div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="wizard-input-container">

                        <div>
                            <md-input-container class="md-block">
                                <label>Internal comment</label>
                                <textarea ng-model="vm.document.comment"></textarea>
                            </md-input-container>
                        </div>
                    </div>

                </form>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>