<md-toolbar class="md-table-toolbar md-primary">
    <div class="md-toolbar-tools">
        <h2 class="md-title">Sources <span ng-if="vm.source.parent_id"> > {{ vm.source.parent.title}}</span><span ng-if="vm.source.id"> > {{ vm.source.title}}</span></h2>
        <span flex></span>
        <md-button class="md-icon-button" ui-sref="app.admin.sources.hirarchy">
            <md-icon>list</md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="vm.newSources()">
            <md-icon>add</md-icon>
        </md-button>
    </div>
</md-toolbar>
<div ng-if="!vm.sources.length && !vm.loading" layout="row" layout-align="center center" layout-fill>
    <div layout="column">
        <h2>No children for this source</h2>
        <md-button class="md-primary" ng-click="vm.newSources()">
            <md-icon>add</md-icon> Add one
        </md-button>
    </div>
</div>
<md-table-container ng-if="vm.sources.length">
    <table md-table md-row-select md-select-id="id" multiple ng-model="vm.selected">
        <thead md-head md-order="vm.query.order">
            <tr md-row>
                <th md-column>
                    <span>ID</span>
                </th>
                <th md-column>
                    <span>Title</span>
                </th>
                <th md-column>
                    <span>Acronym</span>
                </th>
                <th md-column>
                    <span>Children</span>
                </th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row md-select="source" md-select-id="id" ng-repeat="source in vm.sources">
                <td md-cell>
                    <md-button class="md-icon-button" ui-sref="app.admin.sources.details({id:source.id})" title="Edit source">{{ source.id }}</md-button>
                    </md-button>
                </td>
                <td md-cell inline-edit-callback="vm.inlineUpdate(source, 'title', newValue)" inline-edit-on-click inline-edit-on-blur="cancel" inline-edit="source.title" inline-edit-btn-edit="<md-icon>edit</md-icon>" inline-edit-btn-save="<md-icon>save</md-icon>" inline-edit-btn-cancel="<md-icon class='md-warning'>close</md-icon>"
                    inline-edit-placeholder="No value yet..."></td>
                <td md-cell inline-edit-callback="vm.inlineUpdate(source, 'acronym', newValue)" inline-edit-on-click inline-edit-on-blur="cancel" inline-edit="source.acronym" inline-edit-btn-edit="<md-icon>edit</md-icon>" inline-edit-btn-save="<md-icon>save</md-icon>"
                    inline-edit-btn-cancel="<md-icon class='md-warning'>close</md-icon>" inline-edit-placeholder="No value yet..."></td>
                <td md-cell>
                    <md-button class="md-icon-button" ui-sref="app.admin.sources.details({id:source.id})" title="Edit source">{{ source.children.length }}</md-button>
                    </md-button>
                </td>
            </tr>
        </tbody>
    </table>
</md-table-container>
<md-fab-speed-dial md-open="vm.fabOpen" md-direction="up" ng-hide="!vm.selected.length" class="md-fab-bottom-right md-scale" ng-mouseenter="vm.fabOpen=true" ng-mouseleave="vm.fabOpen=false">
    <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-primary">
            <md-icon>menu</md-icon>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <md-button ng-click="vm.deleteItems()" aria-label="Delete" class="md-fab md-warn md-raised md-mini">
            <md-tooltip md-direction="left" md-delay="500">Delete {{ vm.selected.length }} Item(s)
            </md-tooltip>
            <md-icon>delete</md-icon>
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial>