<md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">

    <md-grid-tile class="main" ui-sref="app.admin.documents"  md-rowspan="2" md-colspan="2" md-colspan-md="1" md-colspan-sm="1" md-colspan-xs="1">
        <md-grid-tile-header>
            <h3>Documents</h3>
            <h4>{{ ::vm.items.length}}&nbsp;Items</h4>
        </md-grid-tile-header>
        <md-icon>assignment</md-icon>
        <md-grid-tile-footer></md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="purple">
        <md-grid-tile-header>
            <h3>Categories</h3>
            <h4>Not yet ready</h4>
        </md-grid-tile-header>
        <md-icon>shuffle</md-icon>
        <md-grid-tile-footer></md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="yellow">
        <md-grid-tile-header>
          <h3>Themes</h3>
          <h4>Not yet ready</h4>
        </md-grid-tile-header>
        <md-icon>subscriptions</md-icon>
        <md-grid-tile-footer></md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="gray">
        <md-grid-tile-header>
          <h3>Instruments</h3>
          <h4>Not yet ready</h4>
        </md-grid-tile-header>
        <md-icon>subscriptions</md-icon>
        <md-grid-tile-footer></md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="green">
        <md-grid-tile-header>
          <h3>Groups</h3>
          <h4>Not yet ready</h4>
        </md-grid-tile-header>
        <md-icon>subscriptions</md-icon>
        <md-grid-tile-footer></md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="red">
        <md-grid-tile-header>
          <h3>Authors</h3>
          <h4>Not yet ready</h4>
        </md-grid-tile-header>
        <md-icon>subscriptions</md-icon>
        <md-grid-tile-footer></md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="blue">
        <md-grid-tile-header>
            <h3>Languages</h3>
            <h4>Not yet ready</h4>
        </md-grid-tile-header>
        <md-icon>translate</md-icon>
        <md-grid-tile-footer>  </md-grid-tile-footer>
    </md-grid-tile>

</md-grid-list>
