<md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
        <span>Documents</span>
    </div>
</md-toolbar>

<!-- exact table from live demo -->
<md-table-container>
    <table md-table md-row-select multiple ng-model="vm.selected" md-progress="vm.promise">
        <thead md-head md-order="query.order" md-on-reorder="vm.getDocuments">
            <tr md-row>
                <th md-column md-order-by="screen_title">
                    <span>Title</span>
                </th>
                <th md-column md-order-by="document_title">
                    <span>Doc Title</span>
                </th>
                <th md-column>
                    <span>Category</span>
                </th>
                <th md-column>
                    <span>Source</span>
                </th>

            </tr>
        </thead>
        <tbody md-body>
            <tr md-row md-select="document" md-select-id="id" md-auto-select ng-repeat="document in vm.documents">
                <td md-cell>{{document.screen_title}}</td>
                <td md-cell>{{document.document_title}}</td>
                <td md-cell>
                    <md-select ng-model="document.category_id" placeholder="Category">
                        <md-option ng-value="category.id" ng-repeat="category in vm.categories">{{category.title}}</md-option>
                    </md-select>
                </td>
                <td md-cell>{{document.source.acronym_title || document.source.acronym }}</td>

            </tr>
        </tbody>
    </table>
</md-table-container>

<md-table-pagination md-limit="vm.query.limit" md-limit-options="[5, 10, 15]" md-page="vm.query.page" md-total="{{vm.documents.count}}" md-on-paginate="vm.getDocuments" md-page-select></md-table-pagination>
