<div layout="column" flex>
    <div layout="row" layout-align="space-between center">
        <h1 class="md-display-2">Documents</h1>
        <main-filter-control hide-gt-sm></main-filter-control>
    </div>
    <div layout="column" class="group-wrapper">
        <v-accordion class="vAccordion--default" multiple>
            <v-pane ng-repeat="category in vm.categories | orderBy: 'id'" ng-show="vm.filterItems[category.id].length">
                <v-pane-header>
                    <div class="md-headline">{{ category.title}}
                        ({{ vm.filterItems[category.id].length }})</div>
                </v-pane-header>
                <v-pane-content class="group-container">
                    <div
                        layout="row"
                        layout-align="start center"
                        ng-click="vm.downloadFile(item)"
                        class="file-container"
                        ng-repeat="item in vm.filterItems[category.id] = (vm.items | filterBy: ['category.id']: category.id | filter: vm.FilterService.searchTerm | filter: vm.filterItems )">
                        <div>
                            <md-icon>insert_drive_file</md-icon>
                            <a title="download file" href="/api/items/{{item.id}}/download" target="_blank" download="{{item.document_title}}">
                                <md-icon>file_download</md-icon>
                            </a>
                        </div>
                        <div flex layout="row" layout-align="space-between center">
                            <span class="file-title">
                                {{ item.screen_title || item.document_title }}
                            </span>
                            <span class="file-info">({{ item.file.ext}},
                                {{ item.file.size | byteFmt: 2 }})</span>
                        </div>
                    </div>
                </v-pane-content>
            </v-pane>
            <!-- <div class="group-container" ng-repeat="category in vm.categories | orderBy: 'id'">
            <div class="md-title">
                ({{ category.items.length }})</div>

        </div> -->
        </div>
    </div>
