<div layout="column" flex>
    <div layout="row" layout-align="space-between center">
        <h1 class="md-display-2">Documents</h1>
        <main-filter-control hide-gt-sm></main-filter-control>
    </div>
    <div layout="column" class="group-wrapper">
        <v-accordion class="vAccordion--default" multiple>
            <v-pane ng-repeat="category in vm.categories | orderBy: 'id'" ng-show="vm.filterItems[category.id].length">
                <v-pane-header>
                    <div class="md-headline">{{ category.title}}
                        ({{ vm.filterItems[category.id].length }})</div>
                </v-pane-header>
                <v-pane-content class="group-container">
                    <div layout="column" class="file-container" ng-class="{'active': vm.selectedItem == item}" ng-repeat="item in vm.filterItems[category.id] = (vm.items | filterBy: ['category.id']: category.id | filter: vm.FilterService.searchTerm | filter: vm.filterItems )">
                        <div class="header" layout="row" layout-align="start center">
                            <div class="actions" ng-if="!item.url">
                                <md-icon ng-click="vm.toggleSelectedItem(item)">insert_drive_file</md-icon>
                                <a title="download file" href="/api/items/{{item.id}}/download" target="_blank" download="{{item.document_title}}">
                                    <md-icon>file_download</md-icon>
                                </a>
                            </div>
                            <div class="actions" ng-if="item.url">
                                <md-icon ng-click="vm.toggleSelectedItem(item)">insert_drive_file</md-icon>
                                <a title="Visit URL" ng-href="{{item.url}}" target="_blank">
                                    <md-icon>link</md-icon>
                                </a>
                            </div>
                            <div flex layout="row" layout-align="space-between center" ng-click="vm.toggleSelectedItem(item)">
                                <span class="file-title">
                                    {{ item.screen_title || item.document_title }}
                                </span>
                                <span class="file-info" ng-if="item.file">({{ item.file.ext}},
                                    {{ item.file.size | byteFmt: 2 }})</span>
                            </div>
                        </div>
                        <div class="item-details" ng-if="vm.selectedItem == item">
                            <div class="item-description" ng-if="item.short_description">
                                {{ item.short_description}}
                            </div>
                            <div layout="row" layout-wrap>
                              <div class="item-file item-info" flex="33">
                                  <div layout="column" layout-align="center center">
                                    <div class="wizard-button">
                                        <a ng-if="!item.url" class="md-fab md-primary md-button wizard-icon" title="download file" href="/api/items/{{item.id}}/download" target="_blank" download="{{item.document_title}}">
                                            <md-icon>file_download</md-icon>
                                        </a>
                                        <a ng-if="item.url" class="md-fab md-primary md-button wizard-icon" title="Visit URL" ng-href="{{item.url}}" target="_blank" >
                                            <md-icon>link</md-icon>
                                        </a>
                                    </div>
                                  </div>
                              </div>
                                <div class="item-file item-info" flex="33">
                                    <h4>Details</h4>
                                    <div layout="column" ng-if="!item.url">
                                      <div layout="row">
                                        <span>Type:&nbsp;</span>
                                        <span>{{ item.file.ext}}</span>
                                      </div>
                                      <div layout="row">
                                        <span>Size:&nbsp;</span>
                                        <span> {{ item.file.size | byteFmt: 2 }}</span>
                                      </div>
                                      <div layout="row">
                                        <span>Date:&nbsp;</span>
                                        <span am-time-ago="item.created_at | amParse:'YYYY-MM-DD HH:mm:ss'"></span>
                                      </div>
                                    </div>
                                    <div layout="column" ng-if="item.url">
                                      <div layout="row">
                                        <span>Type:&nbsp;</span>
                                        <span>Hyperlink</span>
                                      </div>
                                      <div layout="row">
                                        <span>Date:&nbsp;</span>
                                        <span am-time-ago="item.created_at | amParse:'YYYY-MM-DD HH:mm:ss'"></span>
                                      </div>
                                    </div>
                                </div>
                                <div class="item-authors item-info"flex="33" ng-if="item.instruments.length">
                                    <h4>Authors</h4>
                                    <div layout="row" ng-repeat="author in item.authors">
                                        {{ author.name }}
                                    </div>
                                </div>

                                <div class="item-themes item-info" flex="33" ng-if="item.themes.length">
                                    <h4>Themes</h4>
                                    <div layout="row" ng-repeat="theme in item.themes">
                                        {{ theme.title }}
                                    </div>
                                </div>
                                <div class="item-groups item-info" flex="33" ng-if="item.groups.length">
                                    <h4>Target Groups</h4>
                                    <div layout="row" ng-repeat="group in item.groups">
                                        {{ group.title }}
                                    </div>
                                </div>
                                <div class="item-instruments item-info" flex="33" ng-if="item.instruments.length">
                                    <h4>Legal Instruments</h4>
                                    <div layout="row" ng-repeat="instrument in item.instruments">
                                        {{ instrument.title }}
                                    </div>
                                </div>
                                <div class="item-years item-info" flex="33" ng-if="item.years.length">
                                    <h4>Years</h4>
                                    <div layout="row" ng-repeat="year in item.years">
                                        {{ year.year }}
                                    </div>
                                </div>
                                <div class="item-countries item-info" flex="33" ng-if="item.countries.length">
                                    <h4>Countries</h4>
                                    <div layout="row" ng-repeat="country in item.countries">
                                        {{ country.name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </v-pane-content>
            </v-pane>
            <!-- <div class="group-container" ng-repeat="category in vm.categories | orderBy: 'id'">
            <div class="md-title">
                ({{ category.items.length }})</div>

        </div> -->
        </div>
    </div>
