@import "../../../material/project";

documents-list{
  padding: 0px 2em;
  display: flex;
  .md-display-2{
    color:$color;
  }

  .group-container{
    margin-bottom:1em;
    &:hover{
      .md-title{
        color:$color;
      }
    }
    .md-title{
      margin-bottom:0.5em;
      transition: all .25s ease;
    }
    .file-container{
      cursor:pointer;
      line-height: 1.4em;
      md-icon{
        color:$lightgrey;
        margin:0px;
        transition: all .25s ease;
        font-size:18px;
        width:18px;
        height:18px;
        &:hover{
          color:$color;
        }
      }
      .file-title{
          transition: all .25s ease;
          margin:0 0.5em;
      }
      .file-info{
        color:$color;
      }
      &:hover{
        .file-title{

          text-decoration:underline;
        }

      }
    }
  }
}
