body{
    margin: 0;
}
#app-shell-header{
    background-color: white;
    height: 64px;
}
#app-shell-header img{
    padding: 18px 0;
    margin-left: 2em;
    opacity:0.4;
}
#app-shell-content{
    background-color: #2196F3;
    min-height: 300px;
}
