<md-toolbar class="md-white  menu">
    <div class="md-toolbar-tools">
        <md-button ui-sref="app.admin.dashboard" ui-sref-active="active">
            Dashboard
        </md-button>
        <md-button ui-sref="app.admin.documents" ui-sref-active="active">
            Documents
        </md-button>
        <md-button ui-sref="app.admin.themes" ui-sref-active="active">
            Themes
        </md-button>
        <md-button ui-sref="app.admin.instruments" ui-sref-active="active">
            Instruments
        </md-button>
        <md-button ui-sref="app.admin.categories" ui-sref-active="active">
            Categories
        </md-button>
        <md-button ui-sref="app.admin.groups" ui-sref-active="active">
            Groups
        </md-button>
        <md-button ui-sref="app.admin.sources" ui-sref-active="active">
            Sources
        </md-button>
        <md-button ui-sref="app.admin.types" ui-sref-active="active">
            Types
        </md-button>
        <md-button ui-sref="app.admin.authors" ui-sref-active="active">
            Authors
        </md-button>
        <md-button ui-sref="app.admin.languages" ui-sref-active="active">
            Languages
        </md-button>
    </div>
</md-toolbar>