@import "project";
md-chips .md-chips{
  box-shadow: 0px 0px;
}
md-chips.md-default-theme .md-chip, md-chips .md-chip{
  background: transparent;
  border:1px solid $color;
  color:$color;
  md-icon{
    color:$color;
  }
}

md-checkbox{
  &.md-indeterminate{
    &.md-primary{
      &:not([disabled]){
        .md-icon{
          color:$color;
          border-color:$color;
        }
      }

    }
  }
  .md-icon{
    border-radius: 50%;
  }
}
md-sidenav{
   @media screen and (min-width: 450px){
     width:400px;
     max-width: 400px;
     min-width: 400px;
   }
}
