@import "../../../material/project"; //Overwrite Stepper Styles
md-step-actions,
md-step-body {

    max-width: 80%;
    width: 80%;
    margin-left: 10%;
    md-progress-linear{
      height:75px;
      .md-container{
          height:75px;
          .md-bar{
              height:75px;
          }
      }
    }
}
md-step-actions {
    margin-top: 1em;
    margin-bottom: 1em;
}
.md-steppers-header {
    box-shadow: 0 0;
}
.md-steppers-content {
    min-height: calc(100vh - 64px - 118px - 156px);
}
.md-stepper-icon {
    width: 28px;
    height: 28px;
    top: 1px;
    font-size: 28px;
    font-weight: 200;
}
.md-steppers-linear {
    .md-stepper-title {
        color: $color;
    }
}
.md-stepper-indicator.md-active .md-stepper-title {
    color: $color;
    font-weight: 300;
}
.md-steppers-alternative {
    .md-steppers-horizontal {
        .md-stepper-title {
            color: $color;
        }
        .md-stepper-indicator {
            &::after {
                background-color: $color;
                top: 42px;
                height: 2px;
            }
            .md-stepper-number {
                font-size: 0;
                width: 32px;
                height: 32px;
                margin: 0 12px;
                border-radius: 32px;
                border: 2px solid $color;
                background: #fff;
                &::after,
                &::before {
                      opacity: 0;
                }
                &::after {

                    width: 46px;
                    height: 46px;
                    border: 2px solid $color;
                    background: transparent;
                    border-radius: 50%;
                    top: -9px;
                    left: -9px;
                    z-index: 1;
                }
                &::before {

                    width: 36px;
                    height: 36px;
                    border: 5px solid #fff;
                    background: transparent;
                    border-radius: 50%;
                    top: -7px;
                    left: -7px;
                    z-index: -1;
                }
            }
            &.md-active {
                .md-stepper-number {
                    background: $color;
                    &::after,
                    &::before {
                          opacity: 1;
                    }
                }
            }
            &.md-completed{
              .md-stepper-number {
                  background: $color;
                }
            }
        }
    }
}
.md-error .md-stepper-error-indicator md-icon {
    color: #f44336;
    width: 36px;
    height: 36px;
}
.md-stepper-indicator.md-error .md-stepper-title {
    color: #f44336 !important;
}
//Own Wizard style
.wizard-head {
    color: $color;
    font-weight: 500;
}
.wizard-header {
    font-style: italic;
    font-weight: 200;
    font-size: 2em;
    color: $color;
    opacity: 0.4;
}
.wizard-button {
    text-align: center;
    margin: 2em;
    color: $color;
    .wizard-icon {
        color: $color;
        border: 3px solid;
        line-height: 66px;
        width: 72px;
        height: 72px;
        background: #fff;
        &.dragover{
          border-style:dashed;
        }
        md-icon {
            font-size: 36px;
            width: 36px;
            height: 36px;
            color: $color;
        }
    }
}
.wizard-input-container {
    padding: 0 1em;
    label {
        font-size: 1.3em;
    }
    md-input-container {
        min-height: 58px;
        &.md-input-invalid {
            label,
            md-select .md-select-value.md-select-placeholder {
                color: rgb(213,0,0);
                border-bottom-color: rgb(213,0,0);
            }
        }
        &:not(.md-input-invalid).md-input-has-value label {
            color: $color;
        }
    }
    .md-select-value,
    input,
    select,
    textarea {
        font-size: 1.3em;
        // padding: 0px 5px;
        // border: 1px solid $color;
        // border-radius: 5px;
    }
    .add_button{
      color:$color;
      font-size: 1.3em;
      text-transform: lowercase;
      margin-top: -.5em;
      margin-bottom: .5em;
      md-icon{
        color:$color;
      }
      span{
        opacity: 0.4;
      }
    }
}
md-select-value{
  md-option{
    display: none;
  }
  .with-children{
    float:left;
  }
}
md-select-menu[multiple]{
  > md-content{
    > md-option{
      min-height:48px;
      height:auto;
      &.md-checkbox-enabled{
        > .md-container{
          top:24px;
        }
        > .md-text{
          > div{
            &.with-children{
                  margin: 16px 0;

            }

          }
        }
      }
      md-option{

      }
    }
  }
}
